<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物关系008</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#20851;&#31995;008</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6027fe5e6a7d4fd594ebe4d2d0669612.png" alt="人物关系008" usemap="#id-6027fe5e6a7d4fd594ebe4d2d0669612map"/>
			   <map name="id-6027fe5e6a7d4fd594ebe4d2d0669612map">
				  		<area shape="rect" coords="478,76,718,186" href="../elements/id-2e4a6ae96ddd4ceaae557a21ac20e569.html"  target="element">
				  		<area shape="rect" coords="20,236,260,346" href="../elements/id-463cc2ff66084b039853e033655a5ed2.html"  target="element">
				  		<area shape="rect" coords="20,44,260,154" href="../elements/id-c5bbed6ec0fe4bfbb2c376c1aee1517e.html"  target="element">
				  		<area shape="rect" coords="644,596,884,706" href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html"  target="element">
				  		<area shape="rect" coords="990,590,1230,700" href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html"  target="element">
				  		<area shape="rect" coords="1220,788,1460,898" href="../elements/id-580e7d9c233843dbab570d346ccf0d0d.html"  target="element">
				  		<area shape="rect" coords="1508,788,1748,898" href="../elements/id-8ec4b67cfd614c9b82b2d323d25ba322.html"  target="element">
				  		<area shape="rect" coords="68,382,308,492" href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html"  target="element">
				  		<area shape="rect" coords="812,184,1052,294" href="../elements/id-176a4f6203ad48829982295520e70b10.html"  target="element">
				  		<area shape="rect" coords="1340,548,1580,658" href="../elements/id-d2a9f0fcd9a743baaa43357f5d200722.html"  target="element">
				  		<area shape="rect" coords="20,534,260,644" href="../elements/id-bed69b1f0c744a8c89215c9f6a76de8b.html"  target="element">
				  		<area shape="rect" coords="356,534,596,644" href="../elements/id-b141613d661f4a17a18c8309e165d452.html"  target="element">
				  		<area shape="rect" coords="1714,534,1954,644" href="../elements/id-ad854c003a4a460fa2805197e6097868.html"  target="element">
				  		<area shape="rect" coords="1714,390,1954,500" href="../elements/id-3ecdec376455412d9c74fb190ae836f1.html"  target="element">
				  		<area shape="rect" coords="1710,236,1950,346" href="../elements/id-b21eccf1bd20425b9401866c31dfd145.html"  target="element">
				  		<area shape="rect" coords="1004,20,1244,130" href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html"  target="element">
				  		<area shape="rect" coords="1374,236,1614,346" href="../elements/id-b191313ec38e418fa151ed8631e8d49d.html"  target="element">
				  		<area shape="rect" coords="1374,382,1614,492" href="../elements/id-e4562a44e5f140bf965ef551cc78f362.html"  target="element">
				  		<area shape="rect" coords="908,390,1148,500" href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html"  target="element">
				  		<area shape="rect" coords="476,390,716,500" href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
											    <td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4562a44e5f140bf965ef551cc78f362.html" target="element"> &#21333;&#32856;&#20161; </a> </td>
											    <td> <a href="../elements/id-e4562a44e5f140bf965ef551cc78f362.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b191313ec38e418fa151ed8631e8d49d.html" target="element"> &#35449;&#20809; </a> </td>
											    <td> <a href="../elements/id-b191313ec38e418fa151ed8631e8d49d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919;&#65288;&#23383;&#23384;&#21608;&#65289; </a> </td>
											    <td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b21eccf1bd20425b9401866c31dfd145.html" target="element"> &#21556;&#26032;&#30331;(&#38134;&#24211;&#25151;&#24635;&#39046;) </a> </td>
											    <td> <a href="../elements/id-b21eccf1bd20425b9401866c31dfd145.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ecdec376455412d9c74fb190ae836f1.html" target="element"> &#25140;&#33391;(&#20179;&#19978;&#22836;&#30446;) </a> </td>
											    <td> <a href="../elements/id-3ecdec376455412d9c74fb190ae836f1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad854c003a4a460fa2805197e6097868.html" target="element"> &#38065;&#21326;(&#20080;&#21150;) </a> </td>
											    <td> <a href="../elements/id-ad854c003a4a460fa2805197e6097868.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b141613d661f4a17a18c8309e165d452.html" target="element"> &#34203;&#23453;&#38039; </a> </td>
											    <td> <a href="../elements/id-b141613d661f4a17a18c8309e165d452.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bed69b1f0c744a8c89215c9f6a76de8b.html" target="element"> &#33722;&#20799; </a> </td>
											    <td> <a href="../elements/id-bed69b1f0c744a8c89215c9f6a76de8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d2a9f0fcd9a743baaa43357f5d200722.html" target="element"> &#26519;&#40667;&#29577; </a> </td>
											    <td> <a href="../elements/id-d2a9f0fcd9a743baaa43357f5d200722.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-176a4f6203ad48829982295520e70b10.html" target="element"> &#26446;&#23351;&#23351; </a> </td>
											    <td> <a href="../elements/id-176a4f6203ad48829982295520e70b10.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html" target="element"> &#34203;&#23478;&#23016;&#27597;&#29579;&#27663;(&#34203;&#23016;&#22920;) </a> </td>
											    <td> <a href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec4b67cfd614c9b82b2d323d25ba322.html" target="element"> &#38634;&#38593; </a> </td>
											    <td> <a href="../elements/id-8ec4b67cfd614c9b82b2d323d25ba322.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-580e7d9c233843dbab570d346ccf0d0d.html" target="element"> &#40550;&#21733;(&#26191;&#32043;&#23071;) </a> </td>
											    <td> <a href="../elements/id-580e7d9c233843dbab570d346ccf0d0d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html" target="element"> &#26228;&#38639; </a> </td>
											    <td> <a href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html" target="element"> &#34989;&#20154; </a> </td>
											    <td> <a href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5bbed6ec0fe4bfbb2c376c1aee1517e.html" target="element"> &#31206;&#37030;&#19994; </a> </td>
											    <td> <a href="../elements/id-c5bbed6ec0fe4bfbb2c376c1aee1517e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
											    <td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e4a6ae96ddd4ceaae557a21ac20e569.html" target="element"> &#31206;&#20195;&#20754;(&#21496;&#22654;) </a> </td>
											    <td> <a href="../elements/id-2e4a6ae96ddd4ceaae557a21ac20e569.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-996d1b60b7914ca8af6c584c37847be8.html" target="element"> &#20276;&#35835; </a> </td>
																		<td> <a href="../elements/id-996d1b60b7914ca8af6c584c37847be8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b8d9893b67624f1d863fdb41cfc95b27.html" target="element"> &#19977;&#23376; </a> </td>
																		<td> <a href="../elements/id-b8d9893b67624f1d863fdb41cfc95b27.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919;&#65288;&#23383;&#23384;&#21608;&#65289; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac68a4b10e5c4a1cbc307872d2cde9fd.html" target="element"> &#20108;&#21460; </a> </td>
																		<td> <a href="../elements/id-ac68a4b10e5c4a1cbc307872d2cde9fd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b5377e7969d4134a733a058e3436464.html" target="element"> &#38376;&#19979;&#28165;&#23458; </a> </td>
																		<td> <a href="../elements/id-5b5377e7969d4134a733a058e3436464.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4562a44e5f140bf965ef551cc78f362.html" target="element"> &#21333;&#32856;&#20161; </a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919;&#65288;&#23383;&#23384;&#21608;&#65289; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b0733a58fe374954b0ec7b321beb3d55.html" target="element"> &#38376;&#19979;&#28165;&#23458; </a> </td>
																		<td> <a href="../elements/id-b0733a58fe374954b0ec7b321beb3d55.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b191313ec38e418fa151ed8631e8d49d.html" target="element"> &#35449;&#20809; </a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919;&#65288;&#23383;&#23384;&#21608;&#65289; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c2ee6b32b134455977c1d74f6d8383c.html" target="element"> &#65288;&#31216;&#36190;&#23453;&#29577;&#30340;&#26007;&#26041;&#20799;&#65289; </a> </td>
																		<td> <a href="../elements/id-2c2ee6b32b134455977c1d74f6d8383c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad854c003a4a460fa2805197e6097868.html" target="element"> &#38065;&#21326;(&#20080;&#21150;) </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4b00f33d22f499bad017fbed758ef2c.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-f4b00f33d22f499bad017fbed758ef2c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bed69b1f0c744a8c89215c9f6a76de8b.html" target="element"> &#33722;&#20799; </a> </td>
																		<td> <a href="../elements/id-b141613d661f4a17a18c8309e165d452.html" target="element"> &#34203;&#23453;&#38039; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a64147e10567438b9f105af5e287b1aa.html" target="element"> &#22902;&#23064; </a> </td>
																		<td> <a href="../elements/id-a64147e10567438b9f105af5e287b1aa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-176a4f6203ad48829982295520e70b10.html" target="element"> &#26446;&#23351;&#23351; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-504f7e68658841c991261a29e7b6de9f.html" target="element"> &#27597;&#22899; </a> </td>
																		<td> <a href="../elements/id-504f7e68658841c991261a29e7b6de9f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html" target="element"> &#34203;&#23478;&#23016;&#27597;&#29579;&#27663;(&#34203;&#23016;&#22920;) </a> </td>
																		<td> <a href="../elements/id-b141613d661f4a17a18c8309e165d452.html" target="element"> &#34203;&#23453;&#38039; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3d13e81245e7417481f62116ceddb221.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-3d13e81245e7417481f62116ceddb221.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ec4b67cfd614c9b82b2d323d25ba322.html" target="element"> &#38634;&#38593; </a> </td>
																		<td> <a href="../elements/id-d2a9f0fcd9a743baaa43357f5d200722.html" target="element"> &#26519;&#40667;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b23f1397ee34846b1fc69241b7bbb8d.html" target="element"> &#30001;&#36158;&#27597;&#35768;&#32473;&#40667;&#29577;&#20316;&#20011;&#22836; </a> </td>
																		<td> <a href="../elements/id-4b23f1397ee34846b1fc69241b7bbb8d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-580e7d9c233843dbab570d346ccf0d0d.html" target="element"> &#40550;&#21733;(&#26191;&#32043;&#23071;) </a> </td>
																		<td> <a href="../elements/id-d2a9f0fcd9a743baaa43357f5d200722.html" target="element"> &#26519;&#40667;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f921c1ae6db4c72ad93bec8160e9f90.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-8f921c1ae6db4c72ad93bec8160e9f90.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html" target="element"> &#26228;&#38639; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd735dbfa97946ef87e425a25e10a427.html" target="element"> &#22823;&#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-bd735dbfa97946ef87e425a25e10a427.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html" target="element"> &#34989;&#20154; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b463c128dc9c4528a64d86beb7ed14b3.html" target="element"> &#29238;&#23376; </a> </td>
																		<td> <a href="../elements/id-b463c128dc9c4528a64d86beb7ed14b3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5bbed6ec0fe4bfbb2c376c1aee1517e.html" target="element"> &#31206;&#37030;&#19994; </a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c61fcb4894cd42cb8472bd78fcaadc4f.html" target="element"> &#29238;&#22899; </a> </td>
																		<td> <a href="../elements/id-c61fcb4894cd42cb8472bd78fcaadc4f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5bbed6ec0fe4bfbb2c376c1aee1517e.html" target="element"> &#31206;&#37030;&#19994; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df9c4b13aa234bfa9f3ad46bebb80428.html" target="element"> &#22992;&#24351; </a> </td>
																		<td> <a href="../elements/id-df9c4b13aa234bfa9f3ad46bebb80428.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-124e7276cb5b414ba3b247665f899d6e.html" target="element"> &#31169;&#22654;&#32769;&#24072; </a> </td>
																		<td> <a href="../elements/id-124e7276cb5b414ba3b247665f899d6e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4a6ae96ddd4ceaae557a21ac20e569.html" target="element"> &#31206;&#20195;&#20754;(&#21496;&#22654;) </a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52d548d4e78c4f53b3ebc12bc3af6c77.html" target="element"> &#31169;&#22654;&#32769;&#24072; </a> </td>
																		<td> <a href="../elements/id-52d548d4e78c4f53b3ebc12bc3af6c77.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e4a6ae96ddd4ceaae557a21ac20e569.html" target="element"> &#31206;&#20195;&#20754;(&#21496;&#22654;) </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>