<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物与诗词04</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#19982;&#35799;&#35789;04</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-93660cec04d5495ba41e22c091ab3cc8.png" alt="人物与诗词04" usemap="#id-93660cec04d5495ba41e22c091ab3cc8map"/>
			   <map name="id-93660cec04d5495ba41e22c091ab3cc8map">
				  		<area shape="rect" coords="398,450,638,560" href="../elements/id-22ac09d6e1784527b74696eda2a84749.html"  target="element">
				  		<area shape="rect" coords="392,308,632,418" href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html"  target="element">
				  		<area shape="rect" coords="20,310,260,420" href="../elements/id-db50bd851c884a29adc894a628aa278e.html"  target="element">
				  		<area shape="rect" coords="408,168,648,278" href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html"  target="element">
				  		<area shape="rect" coords="408,28,648,138" href="../elements/id-94e6d32537c548f58972f293c08a52f0.html"  target="element">
				  		<area shape="rect" coords="50,20,290,130" href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element"> &#31532;006&#22238; &#36158;&#23453;&#29577;&#21021;&#35797;&#20113;&#38632;&#24773; &#21016;&#23013;&#23013;&#19968;&#36827;&#33635;&#22269;&#24220; </a> </td>
											    <td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94e6d32537c548f58972f293c08a52f0.html" target="element"> &#31532;&#20845;&#22238;&#39064;&#32434;&#35799; </a> </td>
											    <td> <a href="../elements/id-94e6d32537c548f58972f293c08a52f0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html" target="element"> &#31532;&#20845;&#22238;&#23614;&#35799; </a> </td>
											    <td> <a href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element"> &#31532;007&#22238; &#36865;&#23467;&#33457;&#36158;&#29711;&#25103;&#29081;&#20964; &#23476;&#23425;&#24220;&#23453;&#29577;&#20250;&#31206;&#38047; </a> </td>
											    <td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html" target="element"> &#31532;&#19971;&#22238;&#39064;&#32434;&#35799; </a> </td>
											    <td> <a href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22ac09d6e1784527b74696eda2a84749.html" target="element"> &#31532;&#19971;&#22238;&#23614;&#35799; </a> </td>
											    <td> <a href="../elements/id-22ac09d6e1784527b74696eda2a84749.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-52c0412960eb4b879350dff3eed2204f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52c0412960eb4b879350dff3eed2204f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94e6d32537c548f58972f293c08a52f0.html" target="element"> &#31532;&#20845;&#22238;&#39064;&#32434;&#35799; </a> </td>
																		<td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element"> &#31532;006&#22238; &#36158;&#23453;&#29577;&#21021;&#35797;&#20113;&#38632;&#24773; &#21016;&#23013;&#23013;&#19968;&#36827;&#33635;&#22269;&#24220; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6b2af02b2e24bfbb0d4f7781e646a09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b2af02b2e24bfbb0d4f7781e646a09.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html" target="element"> &#31532;&#20845;&#22238;&#23614;&#35799; </a> </td>
																		<td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element"> &#31532;006&#22238; &#36158;&#23453;&#29577;&#21021;&#35797;&#20113;&#38632;&#24773; &#21016;&#23013;&#23013;&#19968;&#36827;&#33635;&#22269;&#24220; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b7a0a7db88b40dd93810f86f9c14efd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b7a0a7db88b40dd93810f86f9c14efd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html" target="element"> &#31532;&#19971;&#22238;&#39064;&#32434;&#35799; </a> </td>
																		<td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element"> &#31532;007&#22238; &#36865;&#23467;&#33457;&#36158;&#29711;&#25103;&#29081;&#20964; &#23476;&#23425;&#24220;&#23453;&#29577;&#20250;&#31206;&#38047; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b3f39bd2a7c44dd8f1b8976fd9188ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b3f39bd2a7c44dd8f1b8976fd9188ad.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22ac09d6e1784527b74696eda2a84749.html" target="element"> &#31532;&#19971;&#22238;&#23614;&#35799; </a> </td>
																		<td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element"> &#31532;007&#22238; &#36865;&#23467;&#33457;&#36158;&#29711;&#25103;&#29081;&#20964; &#23476;&#23425;&#24220;&#23453;&#29577;&#20250;&#31206;&#38047; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>