<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物与诗词04</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#19982;&#35799;&#35789;04</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-93660cec04d5495ba41e22c091ab3cc8.png" alt="人物与诗词04" usemap="#id-93660cec04d5495ba41e22c091ab3cc8map"/>
			   <map name="id-93660cec04d5495ba41e22c091ab3cc8map">
				  		<area shape="rect" coords="1178,338,1418,448" href="../elements/id-bb45e0dad63a4ac39cf14254e03fd54a.html"  target="element">
				  		<area shape="rect" coords="1178,210,1418,320" href="../elements/id-9719c83f9c10404c8cbe01f480476ace.html"  target="element">
				  		<area shape="rect" coords="818,210,1058,320" href="../elements/id-c07d9e586c3b4ae0902e0bdbdf425847.html"  target="element">
				  		<area shape="rect" coords="1176,20,1416,130" href="../elements/id-3e0c34bbd73c4e079dbe89301725510f.html"  target="element">
				  		<area shape="rect" coords="814,20,1054,130" href="../elements/id-972333089897411f98405e15e677ab6d.html"  target="element">
				  		<area shape="rect" coords="68,780,308,890" href="../elements/id-86c7a7aa6b644bf6bf688b79c5f9d640.html"  target="element">
				  		<area shape="rect" coords="398,748,638,858" href="../elements/id-1046bcfd816a4334a09238f35b4516f4.html"  target="element">
				  		<area shape="rect" coords="398,614,638,724" href="../elements/id-ba7aabd3622d423c8a9e1fa032f9f291.html"  target="element">
				  		<area shape="rect" coords="20,576,260,686" href="../elements/id-5345e728486245a997d52179629125a3.html"  target="element">
				  		<area shape="rect" coords="398,452,638,562" href="../elements/id-22ac09d6e1784527b74696eda2a84749.html"  target="element">
				  		<area shape="rect" coords="392,310,632,420" href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html"  target="element">
				  		<area shape="rect" coords="20,312,260,422" href="../elements/id-db50bd851c884a29adc894a628aa278e.html"  target="element">
				  		<area shape="rect" coords="408,170,648,280" href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html"  target="element">
				  		<area shape="rect" coords="408,30,648,140" href="../elements/id-94e6d32537c548f58972f293c08a52f0.html"  target="element">
				  		<area shape="rect" coords="20,22,260,132" href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element"> &#31532;006&#22238; &#36158;&#23453;&#29577;&#21021;&#35797;&#20113;&#38632;&#24773; &#21016;&#23013;&#23013;&#19968;&#36827;&#33635;&#22269;&#24220; </a> </td>
											    <td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94e6d32537c548f58972f293c08a52f0.html" target="element"> &#31532;&#20845;&#22238;&#39064;&#32434;&#35799; </a> </td>
											    <td> <a href="../elements/id-94e6d32537c548f58972f293c08a52f0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html" target="element"> &#31532;&#20845;&#22238;&#23614;&#35799; </a> </td>
											    <td> <a href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element"> &#31532;007&#22238; &#36865;&#23467;&#33457;&#36158;&#29711;&#25103;&#29081;&#20964; &#23476;&#23425;&#24220;&#23453;&#29577;&#20250;&#31206;&#38047; </a> </td>
											    <td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html" target="element"> &#31532;&#19971;&#22238;&#39064;&#32434;&#35799; </a> </td>
											    <td> <a href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22ac09d6e1784527b74696eda2a84749.html" target="element"> &#31532;&#19971;&#22238;&#23614;&#35799; </a> </td>
											    <td> <a href="../elements/id-22ac09d6e1784527b74696eda2a84749.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5345e728486245a997d52179629125a3.html" target="element"> &#31532;008&#22238; &#27604;&#28789;&#36890;&#37329;&#33722;&#24494;&#38706;&#24847; &#25506;&#23453;&#38039;&#40667;&#29577;&#21322;&#21547;&#37240; </a> </td>
											    <td> <a href="../elements/id-5345e728486245a997d52179629125a3.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba7aabd3622d423c8a9e1fa032f9f291.html" target="element"> &#31532;&#20843;&#22238;&#39064;&#32434;&#35799; </a> </td>
											    <td> <a href="../elements/id-ba7aabd3622d423c8a9e1fa032f9f291.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1046bcfd816a4334a09238f35b4516f4.html" target="element"> &#23453;&#29577;&#30707;&#35799; </a> </td>
											    <td> <a href="../elements/id-1046bcfd816a4334a09238f35b4516f4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86c7a7aa6b644bf6bf688b79c5f9d640.html" target="element"> &#25308;&#35265;&#31206;&#20195;&#20754; </a> </td>
											    <td> <a href="../elements/id-86c7a7aa6b644bf6bf688b79c5f9d640.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-972333089897411f98405e15e677ab6d.html" target="element"> &#31532;011&#22238; &#24198;&#23551;&#36784;&#23425;&#24220;&#25490;&#23478;&#23476; &#35265;&#29081;&#20964;&#36158;&#29790;&#36215;&#28139;&#24515; </a> </td>
											    <td> <a href="../elements/id-972333089897411f98405e15e677ab6d.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e0c34bbd73c4e079dbe89301725510f.html" target="element"> &#23425;&#24220;&#20250;&#33459;&#22253; </a> </td>
											    <td> <a href="../elements/id-3e0c34bbd73c4e079dbe89301725510f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c07d9e586c3b4ae0902e0bdbdf425847.html" target="element"> &#31532;013&#22238; &#31206;&#21487;&#21375;&#27515;&#23553;&#40857;&#31105;&#23561; &#29579;&#29081;&#20964;&#21327;&#29702;&#23425;&#22269;&#24220; </a> </td>
											    <td> <a href="../elements/id-c07d9e586c3b4ae0902e0bdbdf425847.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9719c83f9c10404c8cbe01f480476ace.html" target="element"> &#31206;&#21487;&#21375;&#20020;&#21035;&#36192;&#35328; </a> </td>
											    <td> <a href="../elements/id-9719c83f9c10404c8cbe01f480476ace.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb45e0dad63a4ac39cf14254e03fd54a.html" target="element"> &#31532;&#21313;&#19977;&#22238;&#23614;&#35799; </a> </td>
											    <td> <a href="../elements/id-bb45e0dad63a4ac39cf14254e03fd54a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-52c0412960eb4b879350dff3eed2204f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52c0412960eb4b879350dff3eed2204f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94e6d32537c548f58972f293c08a52f0.html" target="element"> &#31532;&#20845;&#22238;&#39064;&#32434;&#35799; </a> </td>
																		<td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element"> &#31532;006&#22238; &#36158;&#23453;&#29577;&#21021;&#35797;&#20113;&#38632;&#24773; &#21016;&#23013;&#23013;&#19968;&#36827;&#33635;&#22269;&#24220; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6b2af02b2e24bfbb0d4f7781e646a09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b2af02b2e24bfbb0d4f7781e646a09.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a70a255590f4c13a8bdcc6cd65215ea.html" target="element"> &#31532;&#20845;&#22238;&#23614;&#35799; </a> </td>
																		<td> <a href="../elements/id-07477d0bab1d44dd97a6bccf9132d43e.html" target="element"> &#31532;006&#22238; &#36158;&#23453;&#29577;&#21021;&#35797;&#20113;&#38632;&#24773; &#21016;&#23013;&#23013;&#19968;&#36827;&#33635;&#22269;&#24220; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b7a0a7db88b40dd93810f86f9c14efd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b7a0a7db88b40dd93810f86f9c14efd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-79f315d9d4f1450b997636ae80279f3b.html" target="element"> &#31532;&#19971;&#22238;&#39064;&#32434;&#35799; </a> </td>
																		<td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element"> &#31532;007&#22238; &#36865;&#23467;&#33457;&#36158;&#29711;&#25103;&#29081;&#20964; &#23476;&#23425;&#24220;&#23453;&#29577;&#20250;&#31206;&#38047; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b3f39bd2a7c44dd8f1b8976fd9188ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b3f39bd2a7c44dd8f1b8976fd9188ad.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22ac09d6e1784527b74696eda2a84749.html" target="element"> &#31532;&#19971;&#22238;&#23614;&#35799; </a> </td>
																		<td> <a href="../elements/id-db50bd851c884a29adc894a628aa278e.html" target="element"> &#31532;007&#22238; &#36865;&#23467;&#33457;&#36158;&#29711;&#25103;&#29081;&#20964; &#23476;&#23425;&#24220;&#23453;&#29577;&#20250;&#31206;&#38047; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e1c47e893cb4ae383ddfcf7b7ef45b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e1c47e893cb4ae383ddfcf7b7ef45b6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7aabd3622d423c8a9e1fa032f9f291.html" target="element"> &#31532;&#20843;&#22238;&#39064;&#32434;&#35799; </a> </td>
																		<td> <a href="../elements/id-5345e728486245a997d52179629125a3.html" target="element"> &#31532;008&#22238; &#27604;&#28789;&#36890;&#37329;&#33722;&#24494;&#38706;&#24847; &#25506;&#23453;&#38039;&#40667;&#29577;&#21322;&#21547;&#37240; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6f7334eb1fd7474a83210f976a3fcf61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f7334eb1fd7474a83210f976a3fcf61.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1046bcfd816a4334a09238f35b4516f4.html" target="element"> &#23453;&#29577;&#30707;&#35799; </a> </td>
																		<td> <a href="../elements/id-5345e728486245a997d52179629125a3.html" target="element"> &#31532;008&#22238; &#27604;&#28789;&#36890;&#37329;&#33722;&#24494;&#38706;&#24847; &#25506;&#23453;&#38039;&#40667;&#29577;&#21322;&#21547;&#37240; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00b2ef16fbba48a5afbce2da903c70cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00b2ef16fbba48a5afbce2da903c70cc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-86c7a7aa6b644bf6bf688b79c5f9d640.html" target="element"> &#25308;&#35265;&#31206;&#20195;&#20754; </a> </td>
																		<td> <a href="../elements/id-5345e728486245a997d52179629125a3.html" target="element"> &#31532;008&#22238; &#27604;&#28789;&#36890;&#37329;&#33722;&#24494;&#38706;&#24847; &#25506;&#23453;&#38039;&#40667;&#29577;&#21322;&#21547;&#37240; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-62fa40fd5b054924b9cb1d81babaa038.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62fa40fd5b054924b9cb1d81babaa038.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e0c34bbd73c4e079dbe89301725510f.html" target="element"> &#23425;&#24220;&#20250;&#33459;&#22253; </a> </td>
																		<td> <a href="../elements/id-972333089897411f98405e15e677ab6d.html" target="element"> &#31532;011&#22238; &#24198;&#23551;&#36784;&#23425;&#24220;&#25490;&#23478;&#23476; &#35265;&#29081;&#20964;&#36158;&#29790;&#36215;&#28139;&#24515; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6c58fe3ee96c427d8d6abb6a6dbb05ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c58fe3ee96c427d8d6abb6a6dbb05ca.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9719c83f9c10404c8cbe01f480476ace.html" target="element"> &#31206;&#21487;&#21375;&#20020;&#21035;&#36192;&#35328; </a> </td>
																		<td> <a href="../elements/id-c07d9e586c3b4ae0902e0bdbdf425847.html" target="element"> &#31532;013&#22238; &#31206;&#21487;&#21375;&#27515;&#23553;&#40857;&#31105;&#23561; &#29579;&#29081;&#20964;&#21327;&#29702;&#23425;&#22269;&#24220; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6fe9d71cb1444e090807bff4b04ba93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6fe9d71cb1444e090807bff4b04ba93.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bb45e0dad63a4ac39cf14254e03fd54a.html" target="element"> &#31532;&#21313;&#19977;&#22238;&#23614;&#35799; </a> </td>
																		<td> <a href="../elements/id-c07d9e586c3b4ae0902e0bdbdf425847.html" target="element"> &#31532;013&#22238; &#31206;&#21487;&#21375;&#27515;&#23553;&#40857;&#31105;&#23561; &#29579;&#29081;&#20964;&#21327;&#29702;&#23425;&#22269;&#24220; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>