<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物关系005</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#20851;&#31995;005</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9326491bfa2243d7a2fadda2dafd32ed.png" alt="人物关系005" usemap="#id-9326491bfa2243d7a2fadda2dafd32edmap"/>
			   <map name="id-9326491bfa2243d7a2fadda2dafd32edmap">
				  		<area shape="rect" coords="406,878,646,988" href="../elements/id-61e4fc4819444e179686320c3e05b86f.html"  target="element">
				  		<area shape="rect" coords="406,734,646,844" href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html"  target="element">
				  		<area shape="rect" coords="406,590,646,700" href="../elements/id-c36d7a163a1b45579439a8e6ebeb361c.html"  target="element">
				  		<area shape="rect" coords="406,440,646,550" href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html"  target="element">
				  		<area shape="rect" coords="24,440,264,550" href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html"  target="element">
				  		<area shape="rect" coords="382,230,622,340" href="../elements/id-463cc2ff66084b039853e033655a5ed2.html"  target="element">
				  		<area shape="rect" coords="20,230,260,340" href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html"  target="element">
				  		<area shape="rect" coords="382,20,622,130" href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
											    <td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
											    <td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
											    <td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
											    <td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html" target="element"> &#34989;&#20154; </a> </td>
											    <td> <a href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c36d7a163a1b45579439a8e6ebeb361c.html" target="element"> &#23194;&#20154; </a> </td>
											    <td> <a href="../elements/id-c36d7a163a1b45579439a8e6ebeb361c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html" target="element"> &#26228;&#38639; </a> </td>
											    <td> <a href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61e4fc4819444e179686320c3e05b86f.html" target="element"> &#40605;&#26376; </a> </td>
											    <td> <a href="../elements/id-61e4fc4819444e179686320c3e05b86f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-33ef3d1bd9bf4c9891dc43baa9202415.html" target="element"> &#23110;&#23219; </a> </td>
																		<td> <a href="../elements/id-33ef3d1bd9bf4c9891dc43baa9202415.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2002fe41484a41e2bcaf52dcab0915bf.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-2002fe41484a41e2bcaf52dcab0915bf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c7f47d7dac4a4d7eb7f95acefcf0b2d8.html" target="element"> &#29238;&#23376; </a> </td>
																		<td> <a href="../elements/id-c7f47d7dac4a4d7eb7f95acefcf0b2d8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9585217806f4d8a80b14711c730d4b7.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-a9585217806f4d8a80b14711c730d4b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac68a4b10e5c4a1cbc307872d2cde9fd.html" target="element"> &#20108;&#21460; </a> </td>
																		<td> <a href="../elements/id-ac68a4b10e5c4a1cbc307872d2cde9fd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd735dbfa97946ef87e425a25e10a427.html" target="element"> &#22823;&#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-bd735dbfa97946ef87e425a25e10a427.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3b1839965684accb4ce8bf535529ff0.html" target="element"> &#34989;&#20154; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2520161bcb6949d286bcb8f2367e8489.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-2520161bcb6949d286bcb8f2367e8489.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c36d7a163a1b45579439a8e6ebeb361c.html" target="element"> &#23194;&#20154; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f921c1ae6db4c72ad93bec8160e9f90.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-8f921c1ae6db4c72ad93bec8160e9f90.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737e3fdf3bda47fcb38a81ddb6d9d3d6.html" target="element"> &#26228;&#38639; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a698242be264be38436a99c63103a07.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-7a698242be264be38436a99c63103a07.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61e4fc4819444e179686320c3e05b86f.html" target="element"> &#40605;&#26376; </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>