<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>红楼梦-MetaModel-模型结构</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#32418;&#27004;&#26790;-MetaModel-&#27169;&#22411;&#32467;&#26500;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ae3cf2e98089470eb3c60cf29317297c.png" alt="红楼梦-MetaModel-模型结构" usemap="#id-ae3cf2e98089470eb3c60cf29317297cmap"/>
			   <map name="id-ae3cf2e98089470eb3c60cf29317297cmap">
				  		<area shape="rect" coords="28,20,320,130" href="../elements/id-9d91578114f14f1bbfc68f3d179c0065.html"  target="element">
				  		<area shape="rect" coords="28,788,320,898" href="../elements/id-750743f68d70491e9bef83dd0a14f57b.html"  target="element">
				  		<area shape="rect" coords="28,548,320,658" href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html"  target="element">
				  		<area shape="rect" coords="820,548,1060,658" href="../elements/id-d7df6935ca4b4096be52830037e7281c.html"  target="element">
				  		<area shape="rect" coords="366,260,658,370" href="../elements/id-8b872a62a4684850b5ca13b9ca529f8b.html"  target="element">
				  		<area shape="rect" coords="1038,20,1348,130" href="../elements/id-daa6d45d8bee4f0aa06406f1a06fca7c.html"  target="element">
				  		<area shape="rect" coords="1252,548,1562,658" href="../elements/id-2af0e325b84348889fd156e1dbd373c3.html"  target="element">
				  		<area shape="rect" coords="964,260,1422,370" href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element"> _&#20154;&#29289;1_ </a> </td>
											    <td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2af0e325b84348889fd156e1dbd373c3.html" target="element"> _&#25925;&#20107;&#24773;&#33410;_ </a> </td>
											    <td> <a href="../elements/id-2af0e325b84348889fd156e1dbd373c3.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-daa6d45d8bee4f0aa06406f1a06fca7c.html" target="element"> _&#20154;&#29289;2_ </a> </td>
											    <td> <a href="../elements/id-daa6d45d8bee4f0aa06406f1a06fca7c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b872a62a4684850b5ca13b9ca529f8b.html" target="element"> _&#35799;&#35789;_ </a> </td>
											    <td> <a href="../elements/id-8b872a62a4684850b5ca13b9ca529f8b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7df6935ca4b4096be52830037e7281c.html" target="element"> _&#29289;&#21697;_ </a> </td>
											    <td> <a href="../elements/id-d7df6935ca4b4096be52830037e7281c.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element"> _&#22320;&#28857;1_ </a> </td>
											    <td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-750743f68d70491e9bef83dd0a14f57b.html" target="element"> _&#22320;&#28857;2_ </a> </td>
											    <td> <a href="../elements/id-750743f68d70491e9bef83dd0a14f57b.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9d91578114f14f1bbfc68f3d179c0065.html" target="element"> _&#31456;&#22238;_ </a> </td>
											    <td> <a href="../elements/id-9d91578114f14f1bbfc68f3d179c0065.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-69133efd85af4669aae91877788ee470.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69133efd85af4669aae91877788ee470.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element"> _&#20154;&#29289;1_ </a> </td>
																		<td> <a href="../elements/id-2af0e325b84348889fd156e1dbd373c3.html" target="element"> _&#25925;&#20107;&#24773;&#33410;_ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-454858ba19c1464684d43f6746d62676.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-454858ba19c1464684d43f6746d62676.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element"> _&#20154;&#29289;1_ </a> </td>
																		<td> <a href="../elements/id-daa6d45d8bee4f0aa06406f1a06fca7c.html" target="element"> _&#20154;&#29289;2_ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9212f8dd31574f758ea8cf732f8b0ce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9212f8dd31574f758ea8cf732f8b0ce7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element"> _&#20154;&#29289;1_ </a> </td>
																		<td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element"> _&#22320;&#28857;1_ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b092a900ed964420ac8330ba2769420e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b092a900ed964420ac8330ba2769420e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element"> _&#20154;&#29289;1_ </a> </td>
																		<td> <a href="../elements/id-d7df6935ca4b4096be52830037e7281c.html" target="element"> _&#29289;&#21697;_ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d897c06fad6438b926b6211ce57e2ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d897c06fad6438b926b6211ce57e2ef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b872a62a4684850b5ca13b9ca529f8b.html" target="element"> _&#35799;&#35789;_ </a> </td>
																		<td> <a href="../elements/id-6a0c2de4c2184cd8b53f9ea06e3d8ad3.html" target="element"> _&#20154;&#29289;1_ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f99db8036aa54c179f648012ead4018d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f99db8036aa54c179f648012ead4018d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b872a62a4684850b5ca13b9ca529f8b.html" target="element"> _&#35799;&#35789;_ </a> </td>
																		<td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element"> _&#22320;&#28857;1_ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e5335a893db40aca5b1cd748eeacd2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e5335a893db40aca5b1cd748eeacd2c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b872a62a4684850b5ca13b9ca529f8b.html" target="element"> _&#35799;&#35789;_ </a> </td>
																		<td> <a href="../elements/id-9d91578114f14f1bbfc68f3d179c0065.html" target="element"> _&#31456;&#22238;_ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-291b91515059450d9a88216340550f1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-291b91515059450d9a88216340550f1e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7df6935ca4b4096be52830037e7281c.html" target="element"> _&#29289;&#21697;_ </a> </td>
																		<td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element"> _&#22320;&#28857;1_ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8773c7b820b74648973343e7b2b8a179.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8773c7b820b74648973343e7b2b8a179.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element"> _&#22320;&#28857;1_ </a> </td>
																		<td> <a href="../elements/id-9d91578114f14f1bbfc68f3d179c0065.html" target="element"> _&#31456;&#22238;_ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-42a9fcee3d2143c5ae49913f3c25f9eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42a9fcee3d2143c5ae49913f3c25f9eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-750743f68d70491e9bef83dd0a14f57b.html" target="element"> _&#22320;&#28857;2_ </a> </td>
																		<td> <a href="../elements/id-ebc62d95c20e4fd3a27e2b3e56612e4b.html" target="element"> _&#22320;&#28857;1_ </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>