<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物关系-02</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#20851;&#31995;-02</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aab602c81c6649649a574a8d823f8578.png" alt="人物关系-02" usemap="#id-aab602c81c6649649a574a8d823f8578map"/>
			   <map name="id-aab602c81c6649649a574a8d823f8578map">
				  		<area shape="rect" coords="1592,412,1832,522" href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html"  target="element">
				  		<area shape="rect" coords="1200,418,1440,528" href="../elements/id-2a9a244e44b84b069fab437d27447f26.html"  target="element">
				  		<area shape="rect" coords="794,618,1034,728" href="../elements/id-2839f45f882e485ab9a23bfe37d09bde.html"  target="element">
				  		<area shape="rect" coords="792,430,1032,540" href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html"  target="element">
				  		<area shape="rect" coords="790,298,1030,408" href="../elements/id-b8a6fd77e8e747878dc5884f03152fbb.html"  target="element">
				  		<area shape="rect" coords="378,536,618,646" href="../elements/id-ab8a66afde8d426782ab29c82b350d83.html"  target="element">
				  		<area shape="rect" coords="380,338,620,448" href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html"  target="element">
				  		<area shape="rect" coords="1456,150,1696,260" href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html"  target="element">
				  		<area shape="rect" coords="1124,146,1364,256" href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html"  target="element">
				  		<area shape="rect" coords="808,146,1048,256" href="../elements/id-9a701dddfdf54f7f85160745243890ce.html"  target="element">
				  		<area shape="rect" coords="808,20,1048,130" href="../elements/id-1f6f6f12b4a743e684f0c55170f36a9a.html"  target="element">
				  		<area shape="rect" coords="404,74,644,184" href="../elements/id-49f416b47e724935a520e62d149dae41.html"  target="element">
				  		<area shape="rect" coords="20,338,260,448" href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html"  target="element">
				  		<area shape="rect" coords="20,122,260,232" href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element"> &#23425;&#22269;&#20844; </a> </td>
											    <td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element"> &#33635;&#22269;&#20844; </a> </td>
											    <td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49f416b47e724935a520e62d149dae41.html" target="element"> &#36158;&#20195;&#21270; </a> </td>
											    <td> <a href="../elements/id-49f416b47e724935a520e62d149dae41.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f6f6f12b4a743e684f0c55170f36a9a.html" target="element"> &#36158;&#25975; </a> </td>
											    <td> <a href="../elements/id-1f6f6f12b4a743e684f0c55170f36a9a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a701dddfdf54f7f85160745243890ce.html" target="element"> &#36158;&#25964; </a> </td>
											    <td> <a href="../elements/id-9a701dddfdf54f7f85160745243890ce.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
											    <td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
											    <td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html" target="element"> &#36158;&#20195;&#21892; </a> </td>
											    <td> <a href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab8a66afde8d426782ab29c82b350d83.html" target="element"> &#21490;&#20399;&#23478;&#23567;&#22992;&#65288;&#21490;&#32769;&#22826;&#21531;&#65289; </a> </td>
											    <td> <a href="../elements/id-ab8a66afde8d426782ab29c82b350d83.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8a6fd77e8e747878dc5884f03152fbb.html" target="element"> &#36158;&#36198; </a> </td>
											    <td> <a href="../elements/id-b8a6fd77e8e747878dc5884f03152fbb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919; </a> </td>
											    <td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2839f45f882e485ab9a23bfe37d09bde.html" target="element"> &#29579;&#27663; </a> </td>
											    <td> <a href="../elements/id-2839f45f882e485ab9a23bfe37d09bde.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a9a244e44b84b069fab437d27447f26.html" target="element"> &#36158;&#29664; </a> </td>
											    <td> <a href="../elements/id-2a9a244e44b84b069fab437d27447f26.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-69320c180efa4d93970cfd5acc1bf86b.html" target="element"> &#21516;&#32990;&#24351;&#20804; </a> </td>
																		<td> <a href="../elements/id-69320c180efa4d93970cfd5acc1bf86b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element"> &#23425;&#22269;&#20844; </a> </td>
																		<td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element"> &#33635;&#22269;&#20844; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e5aaf0e7fb9f4b7aad02499bacd40b34.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-e5aaf0e7fb9f4b7aad02499bacd40b34.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49f416b47e724935a520e62d149dae41.html" target="element"> &#36158;&#20195;&#21270; </a> </td>
																		<td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element"> &#23425;&#22269;&#20844; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e41c25742a094e999f1810cecdd842b1.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-e41c25742a094e999f1810cecdd842b1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f6f6f12b4a743e684f0c55170f36a9a.html" target="element"> &#36158;&#25975; </a> </td>
																		<td> <a href="../elements/id-49f416b47e724935a520e62d149dae41.html" target="element"> &#36158;&#20195;&#21270; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b38f39b4977942f587b43aa92af4927c.html" target="element"> &#27425;&#23376; </a> </td>
																		<td> <a href="../elements/id-b38f39b4977942f587b43aa92af4927c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a701dddfdf54f7f85160745243890ce.html" target="element"> &#36158;&#25964; </a> </td>
																		<td> <a href="../elements/id-49f416b47e724935a520e62d149dae41.html" target="element"> &#36158;&#20195;&#21270; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c3b45e762864a18bd5b84d62f112c5e.html" target="element"> &#29238;&#23376; </a> </td>
																		<td> <a href="../elements/id-2c3b45e762864a18bd5b84d62f112c5e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																		<td> <a href="../elements/id-9a701dddfdf54f7f85160745243890ce.html" target="element"> &#36158;&#25964; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c7f47d7dac4a4d7eb7f95acefcf0b2d8.html" target="element"> &#29238;&#23376; </a> </td>
																		<td> <a href="../elements/id-c7f47d7dac4a4d7eb7f95acefcf0b2d8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a8d69f24bae940e093cdad6114be57a2.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-a8d69f24bae940e093cdad6114be57a2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html" target="element"> &#36158;&#20195;&#21892; </a> </td>
																		<td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element"> &#33635;&#22269;&#20844; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6836382fdfa248daa1af17238479660d.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-6836382fdfa248daa1af17238479660d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ab8a66afde8d426782ab29c82b350d83.html" target="element"> &#21490;&#20399;&#23478;&#23567;&#22992;&#65288;&#21490;&#32769;&#22826;&#21531;&#65289; </a> </td>
																		<td> <a href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html" target="element"> &#36158;&#20195;&#21892; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f462f060c26649be8ecd3e440a4d2344.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-f462f060c26649be8ecd3e440a4d2344.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8a6fd77e8e747878dc5884f03152fbb.html" target="element"> &#36158;&#36198; </a> </td>
																		<td> <a href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html" target="element"> &#36158;&#20195;&#21892; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee645d794e644cfc8e7fbb5e2e44d8b1.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-ee645d794e644cfc8e7fbb5e2e44d8b1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8a6fd77e8e747878dc5884f03152fbb.html" target="element"> &#36158;&#36198; </a> </td>
																		<td> <a href="../elements/id-ab8a66afde8d426782ab29c82b350d83.html" target="element"> &#21490;&#20399;&#23478;&#23567;&#22992;&#65288;&#21490;&#32769;&#22826;&#21531;&#65289; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b9170a62450477788d0a81d71970258.html" target="element"> &#27425;&#23376; </a> </td>
																		<td> <a href="../elements/id-4b9170a62450477788d0a81d71970258.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919; </a> </td>
																		<td> <a href="../elements/id-b7fcf4dd54d546d5b64d5f762a407cd6.html" target="element"> &#36158;&#20195;&#21892; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bf275550d53479e9d507ee037d6da6f.html" target="element"> &#27425;&#23376; </a> </td>
																		<td> <a href="../elements/id-2bf275550d53479e9d507ee037d6da6f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919; </a> </td>
																		<td> <a href="../elements/id-ab8a66afde8d426782ab29c82b350d83.html" target="element"> &#21490;&#20399;&#23478;&#23567;&#22992;&#65288;&#21490;&#32769;&#22826;&#21531;&#65289; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f592987bacd843848dcdeb7f00cf17ce.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-f592987bacd843848dcdeb7f00cf17ce.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2839f45f882e485ab9a23bfe37d09bde.html" target="element"> &#29579;&#27663; </a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-19594905bb024bad87d82fddbffb075e.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-19594905bb024bad87d82fddbffb075e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a9a244e44b84b069fab437d27447f26.html" target="element"> &#36158;&#29664; </a> </td>
																		<td> <a href="../elements/id-2c0737e84a4a4a788782219bf8b127cd.html" target="element"> &#36158;&#25919; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98d34dce4e3545519b4b114d3b35dbe5.html" target="element"> &#38271;&#23376; </a> </td>
																		<td> <a href="../elements/id-98d34dce4e3545519b4b114d3b35dbe5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a9a244e44b84b069fab437d27447f26.html" target="element"> &#36158;&#29664; </a> </td>
																		<td> <a href="../elements/id-2839f45f882e485ab9a23bfe37d09bde.html" target="element"> &#29579;&#27663; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8255b7c3d11e41559b975e23b09eb8b1.html" target="element"> &#19977;&#23376; </a> </td>
																		<td> <a href="../elements/id-8255b7c3d11e41559b975e23b09eb8b1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-2a9a244e44b84b069fab437d27447f26.html" target="element"> &#36158;&#29664; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>