<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物关系004</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#20851;&#31995;004</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d27fe147436d44efa5cb1bb002b336a5.png" alt="人物关系004" usemap="#id-d27fe147436d44efa5cb1bb002b336a5map"/>
			   <map name="id-d27fe147436d44efa5cb1bb002b336a5map">
				  		<area shape="rect" coords="290,168,530,278" href="../elements/id-48dd2b0460bc4303ade5a4eeef598b0e.html"  target="element">
				  		<area shape="rect" coords="502,320,742,430" href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html"  target="element">
				  		<area shape="rect" coords="1148,104,1388,214" href="../elements/id-b27353764c7143f187ca1fb5b39cee34.html"  target="element">
				  		<area shape="rect" coords="910,320,1150,430" href="../elements/id-f4df34d344f248858480b759afdc2a3c.html"  target="element">
				  		<area shape="rect" coords="1294,320,1534,430" href="../elements/id-9319d51a9ce9437d88c8245ff2f9c1f6.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-4de9b781a76249e7ae216285af996b9f.html"  target="element">
				  		<area shape="rect" coords="372,20,612,130" href="../elements/id-421ea80c09b24325a49b0c450f023ac1.html"  target="element">
				  		<area shape="rect" coords="740,20,980,130" href="../elements/id-f3f63d0c1bdf4d23a40eff30a7dd590b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f3f63d0c1bdf4d23a40eff30a7dd590b.html" target="element"> &#36158;&#38632;&#26449;&#65288;&#36158;&#21270;&#65292;&#23383;&#26102;&#39134;&#65289; </a> </td>
											    <td> <a href="../elements/id-f3f63d0c1bdf4d23a40eff30a7dd590b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-421ea80c09b24325a49b0c450f023ac1.html" target="element"> &#33899;&#33446;&#24217;&#20869;&#23567;&#27801;&#24357; </a> </td>
											    <td> <a href="../elements/id-421ea80c09b24325a49b0c450f023ac1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4de9b781a76249e7ae216285af996b9f.html" target="element"> &#25252;&#23448;&#31526; </a> </td>
											    <td> <a href="../elements/id-4de9b781a76249e7ae216285af996b9f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9319d51a9ce9437d88c8245ff2f9c1f6.html" target="element"> &#20911;&#28170; </a> </td>
											    <td> <a href="../elements/id-9319d51a9ce9437d88c8245ff2f9c1f6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4df34d344f248858480b759afdc2a3c.html" target="element"> &#34203;&#34784;&#65288;&#23383;&#25991;&#36215;&#65289; </a> </td>
											    <td> <a href="../elements/id-f4df34d344f248858480b759afdc2a3c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b27353764c7143f187ca1fb5b39cee34.html" target="element"> &#29956;&#33521;&#33714;(&#39321;&#33777;) </a> </td>
											    <td> <a href="../elements/id-b27353764c7143f187ca1fb5b39cee34.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html" target="element"> &#34203;&#23478;&#23016;&#27597;&#29579;&#27663;(&#34203;&#23016;&#22920;) </a> </td>
											    <td> <a href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48dd2b0460bc4303ade5a4eeef598b0e.html" target="element"> &#31532;004&#22238; &#34180;&#21629;&#22899;&#20559;&#36898;&#34180;&#21629;&#37070; &#33899;&#33446;&#20711;&#20081;&#21028;&#33899;&#33446;&#26696; </a> </td>
											    <td> <a href="../elements/id-48dd2b0460bc4303ade5a4eeef598b0e.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-df4deccdd0fe4dcaa75cfecb392d826d.html" target="element"> &#30456;&#35782; </a> </td>
																		<td> <a href="../elements/id-df4deccdd0fe4dcaa75cfecb392d826d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3f63d0c1bdf4d23a40eff30a7dd590b.html" target="element"> &#36158;&#38632;&#26449;&#65288;&#36158;&#21270;&#65292;&#23383;&#26102;&#39134;&#65289; </a> </td>
																		<td> <a href="../elements/id-421ea80c09b24325a49b0c450f023ac1.html" target="element"> &#33899;&#33446;&#24217;&#20869;&#23567;&#27801;&#24357; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88240be077284bd28d4561bcc7a9712f.html" target="element"> &#33899;&#33446;&#20711;&#21028;&#26029;&#33899;&#33446;&#26696; </a> </td>
																		<td> <a href="../elements/id-88240be077284bd28d4561bcc7a9712f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3f63d0c1bdf4d23a40eff30a7dd590b.html" target="element"> &#36158;&#38632;&#26449;&#65288;&#36158;&#21270;&#65292;&#23383;&#26102;&#39134;&#65289; </a> </td>
																		<td> <a href="../elements/id-f4df34d344f248858480b759afdc2a3c.html" target="element"> &#34203;&#34784;&#65288;&#23383;&#25991;&#36215;&#65289; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-59072e18647442bcbe5256d13517269c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59072e18647442bcbe5256d13517269c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4de9b781a76249e7ae216285af996b9f.html" target="element"> &#25252;&#23448;&#31526; </a> </td>
																		<td> <a href="../elements/id-421ea80c09b24325a49b0c450f023ac1.html" target="element"> &#33899;&#33446;&#24217;&#20869;&#23567;&#27801;&#24357; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ddd3b3435f0847a8bd9d2259c24a435d.html" target="element"> &#25171;&#27515; </a> </td>
																		<td> <a href="../elements/id-ddd3b3435f0847a8bd9d2259c24a435d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4df34d344f248858480b759afdc2a3c.html" target="element"> &#34203;&#34784;&#65288;&#23383;&#25991;&#36215;&#65289; </a> </td>
																		<td> <a href="../elements/id-9319d51a9ce9437d88c8245ff2f9c1f6.html" target="element"> &#20911;&#28170; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5a244cde2da24a05a9b1ad12adf1dd62.html" target="element"> &#34987;&#25296; </a> </td>
																		<td> <a href="../elements/id-5a244cde2da24a05a9b1ad12adf1dd62.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b27353764c7143f187ca1fb5b39cee34.html" target="element"> &#29956;&#33521;&#33714;(&#39321;&#33777;) </a> </td>
																		<td> <a href="../elements/id-f4df34d344f248858480b759afdc2a3c.html" target="element"> &#34203;&#34784;&#65288;&#23383;&#25991;&#36215;&#65289; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-850705b1e5aa453aac76b170c8476e0f.html" target="element"> &#34987;&#25296; </a> </td>
																		<td> <a href="../elements/id-850705b1e5aa453aac76b170c8476e0f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b27353764c7143f187ca1fb5b39cee34.html" target="element"> &#29956;&#33521;&#33714;(&#39321;&#33777;) </a> </td>
																		<td> <a href="../elements/id-9319d51a9ce9437d88c8245ff2f9c1f6.html" target="element"> &#20911;&#28170; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aab3d92006a44b9da306f13191ffee1c.html" target="element"> &#27597;&#23376; </a> </td>
																		<td> <a href="../elements/id-aab3d92006a44b9da306f13191ffee1c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e02ac8696d4204a67786c1f0ea2546.html" target="element"> &#34203;&#23478;&#23016;&#27597;&#29579;&#27663;(&#34203;&#23016;&#22920;) </a> </td>
																		<td> <a href="../elements/id-f4df34d344f248858480b759afdc2a3c.html" target="element"> &#34203;&#34784;&#65288;&#23383;&#25991;&#36215;&#65289; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>