<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物关系010</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#20851;&#31995;010</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fb9838bc03c447068b776603693d895c.png" alt="人物关系010" usemap="#id-fb9838bc03c447068b776603693d895cmap"/>
			   <map name="id-fb9838bc03c447068b776603693d895cmap">
				  		<area shape="rect" coords="212,48,452,158" href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html"  target="element">
				  		<area shape="rect" coords="1026,20,1266,130" href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html"  target="element">
				  		<area shape="rect" coords="644,24,884,134" href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html"  target="element">
				  		<area shape="rect" coords="1028,192,1268,302" href="../elements/id-463cc2ff66084b039853e033655a5ed2.html"  target="element">
				  		<area shape="rect" coords="1412,192,1652,302" href="../elements/id-9fc3a3c8344d4e67adc66198f5183b95.html"  target="element">
				  		<area shape="rect" coords="1412,408,1652,518" href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html"  target="element">
				  		<area shape="rect" coords="644,192,884,302" href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html"  target="element">
				  		<area shape="rect" coords="22,386,262,496" href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html"  target="element">
				  		<area shape="rect" coords="476,386,716,496" href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html"  target="element">
				  		<area shape="rect" coords="356,192,596,302" href="../elements/id-a546eec35f1b4ceb94579ab1533bdb68.html"  target="element">
				  		<area shape="rect" coords="20,192,260,302" href="../elements/id-4dcf24c40bff47caa922d3dce6f95aa6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4dcf24c40bff47caa922d3dce6f95aa6.html" target="element"> &#37329;&#33635; </a> </td>
											    <td> <a href="../elements/id-4dcf24c40bff47caa922d3dce6f95aa6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a546eec35f1b4ceb94579ab1533bdb68.html" target="element"> &#36158;&#29790; </a> </td>
											    <td> <a href="../elements/id-a546eec35f1b4ceb94579ab1533bdb68.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
											    <td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
											    <td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
											    <td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html" target="element"> &#20911;&#32043;&#33521; </a> </td>
											    <td> <a href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9fc3a3c8344d4e67adc66198f5183b95.html" target="element"> &#24352;&#21451;&#22763; </a> </td>
											    <td> <a href="../elements/id-9fc3a3c8344d4e67adc66198f5183b95.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
											    <td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
											    <td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
											    <td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html" target="element"> &#26469;&#21319;(&#36182;&#21319;&#65292;&#36182;&#20108;) </a> </td>
											    <td> <a href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e04adee66ed4401ca327affdc10a208f.html" target="element"> &#31383;&#21451; </a> </td>
																		<td> <a href="../elements/id-e04adee66ed4401ca327affdc10a208f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a546eec35f1b4ceb94579ab1533bdb68.html" target="element"> &#36158;&#29790; </a> </td>
																		<td> <a href="../elements/id-4dcf24c40bff47caa922d3dce6f95aa6.html" target="element"> &#37329;&#33635; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db137f2e42c040df8a4d842093ec0c87.html" target="element"> &#31383;&#21451; </a> </td>
																		<td> <a href="../elements/id-db137f2e42c040df8a4d842093ec0c87.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a546eec35f1b4ceb94579ab1533bdb68.html" target="element"> &#36158;&#29790; </a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bae81ee58a804c7ebde5a080a09e9408.html" target="element"> &#31383;&#21451; </a> </td>
																		<td> <a href="../elements/id-bae81ee58a804c7ebde5a080a09e9408.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																		<td> <a href="../elements/id-4dcf24c40bff47caa922d3dce6f95aa6.html" target="element"> &#37329;&#33635; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-996d1b60b7914ca8af6c584c37847be8.html" target="element"> &#20276;&#35835; </a> </td>
																		<td> <a href="../elements/id-996d1b60b7914ca8af6c584c37847be8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79786d1d5ba44eb4974379329f8a46a0.html" target="element"> &#23567;&#33285;&#23376; </a> </td>
																		<td> <a href="../elements/id-79786d1d5ba44eb4974379329f8a46a0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-533614d3917c45ca88a7fd8b6eef3d7c.html" target="element"> &#31383;&#21451; </a> </td>
																		<td> <a href="../elements/id-533614d3917c45ca88a7fd8b6eef3d7c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-a546eec35f1b4ceb94579ab1533bdb68.html" target="element"> &#36158;&#29790; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70ef68e5863e46aa8df5b933c24afef6.html" target="element"> &#31383;&#21451; </a> </td>
																		<td> <a href="../elements/id-70ef68e5863e46aa8df5b933c24afef6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-4dcf24c40bff47caa922d3dce6f95aa6.html" target="element"> &#37329;&#33635; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac68a4b10e5c4a1cbc307872d2cde9fd.html" target="element"> &#20108;&#21460; </a> </td>
																		<td> <a href="../elements/id-ac68a4b10e5c4a1cbc307872d2cde9fd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ced14fa0d6564bafa459f6dbbff4a95f.html" target="element"> &#36158;&#23453;&#29577; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c7f47d7dac4a4d7eb7f95acefcf0b2d8.html" target="element"> &#29238;&#23376; </a> </td>
																		<td> <a href="../elements/id-c7f47d7dac4a4d7eb7f95acefcf0b2d8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-30177275400548af9ac03cb896ea9ab6.html" target="element"> &#20808;&#29983; </a> </td>
																		<td> <a href="../elements/id-30177275400548af9ac03cb896ea9ab6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9fc3a3c8344d4e67adc66198f5183b95.html" target="element"> &#24352;&#21451;&#22763; </a> </td>
																		<td> <a href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html" target="element"> &#20911;&#32043;&#33521; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c5ff5326f8a4b83b83d809c36567324.html" target="element"> &#30475;&#30149; </a> </td>
																		<td> <a href="../elements/id-5c5ff5326f8a4b83b83d809c36567324.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9fc3a3c8344d4e67adc66198f5183b95.html" target="element"> &#24352;&#21451;&#22763; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df9c4b13aa234bfa9f3ad46bebb80428.html" target="element"> &#22992;&#24351; </a> </td>
																		<td> <a href="../elements/id-df9c4b13aa234bfa9f3ad46bebb80428.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																		<td> <a href="../elements/id-ddc3ae09a39b415885bb76f2d07da5c3.html" target="element"> &#31206;&#38047;(&#23383;&#40120;&#21375;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9585217806f4d8a80b14711c730d4b7.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-a9585217806f4d8a80b14711c730d4b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5579beec4d5a46478902c6adcd9d25e2.html" target="element"> &#20799;&#23219; </a> </td>
																		<td> <a href="../elements/id-5579beec4d5a46478902c6adcd9d25e2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33ef3d1bd9bf4c9891dc43baa9202415.html" target="element"> &#23110;&#23219; </a> </td>
																		<td> <a href="../elements/id-33ef3d1bd9bf4c9891dc43baa9202415.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
																		<td> <a href="../elements/id-463cc2ff66084b039853e033655a5ed2.html" target="element"> &#31206;&#27663;&#31206;&#21487;&#21375;(&#23567;&#21517;&#21487;&#20799;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-284c2551e8d2436db353da1c892ae80e.html" target="element"> &#27597;&#23376; </a> </td>
																		<td> <a href="../elements/id-284c2551e8d2436db353da1c892ae80e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
																		<td> <a href="../elements/id-ddd1884b58804934a7cd2f353af8d145.html" target="element"> &#36158;&#33993; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2002fe41484a41e2bcaf52dcab0915bf.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-2002fe41484a41e2bcaf52dcab0915bf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6d60acce374fd7b606a9ed694ce829.html" target="element"> &#23588;&#27663; </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a463576c235c4e5d9792b156ffa11c0b.html" target="element"> &#20166;&#20154; </a> </td>
																		<td> <a href="../elements/id-a463576c235c4e5d9792b156ffa11c0b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html" target="element"> &#26469;&#21319;(&#36182;&#21319;&#65292;&#36182;&#20108;) </a> </td>
																		<td> <a href="../elements/id-ba59eaaf76234782ba2081459ec832d7.html" target="element"> &#36158;&#29645; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>