<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>人物关系014</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20154;&#29289;&#20851;&#31995;014</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f67c490dc1c74542b1852f5b14236e09.png" alt="人物关系014" usemap="#id-f67c490dc1c74542b1852f5b14236e09map"/>
			   <map name="id-f67c490dc1c74542b1852f5b14236e09map">
				  		<area shape="rect" coords="56,352,296,462" href="../elements/id-1a760dd6cd2341d084e39f65aedd5c5e.html"  target="element">
				  		<area shape="rect" coords="182,1524,422,1634" href="../elements/id-b9b60d9d079d41c6bca760dc0bf67f97.html"  target="element">
				  		<area shape="rect" coords="2048,1338,2288,1448" href="../elements/id-5daaa5144ea74b53a00d5ead7ad0d723.html"  target="element">
				  		<area shape="rect" coords="1742,1340,1982,1450" href="../elements/id-499980529647493e91ce0b1806e1237b.html"  target="element">
				  		<area shape="rect" coords="1156,1346,1396,1456" href="../elements/id-240867b6057f497fa1b03f511d03b90c.html"  target="element">
				  		<area shape="rect" coords="1444,1340,1684,1450" href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html"  target="element">
				  		<area shape="rect" coords="2038,1156,2278,1266" href="../elements/id-eeff5b9fb526480dbb70c3edf5b0282d.html"  target="element">
				  		<area shape="rect" coords="2034,968,2274,1078" href="../elements/id-51aa399e8db94c5e82fd57a749dd48cf.html"  target="element">
				  		<area shape="rect" coords="1738,1162,1978,1272" href="../elements/id-47076e0c2d4949879792b1c2d0f0b26e.html"  target="element">
				  		<area shape="rect" coords="1738,962,1978,1072" href="../elements/id-51ff6cd640774211b9280927fab32051.html"  target="element">
				  		<area shape="rect" coords="1444,1158,1684,1268" href="../elements/id-f65e3d5d514c4e3883d32bb1ecb7f8ce.html"  target="element">
				  		<area shape="rect" coords="1446,960,1686,1070" href="../elements/id-81fc5e8030744df2b4974885feee10f9.html"  target="element">
				  		<area shape="rect" coords="1146,1158,1386,1268" href="../elements/id-8a706c675c7a4eff90ab02142ef68eab.html"  target="element">
				  		<area shape="rect" coords="1144,962,1384,1072" href="../elements/id-aadf097cf695421db6d2f9942c6f647f.html"  target="element">
				  		<area shape="rect" coords="848,960,1088,1070" href="../elements/id-57ac607bc64542199e049950ff252a30.html"  target="element">
				  		<area shape="rect" coords="524,1154,764,1264" href="../elements/id-ed4ea2f07c034b98a48046d06f47ab51.html"  target="element">
				  		<area shape="rect" coords="188,1146,428,1256" href="../elements/id-f2ee4d146be6486f993066d7c3b505d8.html"  target="element">
				  		<area shape="rect" coords="524,956,764,1066" href="../elements/id-d9ceaa5638ba4e0d8c43395838de9c2c.html"  target="element">
				  		<area shape="rect" coords="188,956,428,1066" href="../elements/id-6e14d54081ec477c8eff5865720c838c.html"  target="element">
				  		<area shape="rect" coords="524,1340,764,1450" href="../elements/id-b0c508d513314ee884828a80dbfac3ef.html"  target="element">
				  		<area shape="rect" coords="186,1340,426,1450" href="../elements/id-77c0217f6b4c4f08b930ce6ec31d8ce8.html"  target="element">
				  				<area shape="rect" coords="1698,584,1938,694" href="../elements/id-f2fae5ebbc4f499fb1aa5fc6697c5988.html"  target="element">
				  				<area shape="rect" coords="1170,584,1410,694" href="../elements/id-79365a9fef8940888eb6b9271297edea.html"  target="element">
				  				<area shape="rect" coords="66,584,306,694" href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html"  target="element">
				  				<area shape="rect" coords="1434,584,1674,694" href="../elements/id-37908ad4fbdd4f068dfaad91bfb58bab.html"  target="element">
				  				<area shape="rect" coords="332,584,572,694" href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html"  target="element">
				  				<area shape="rect" coords="604,584,844,694" href="../elements/id-ab1f8c74e9da4cc1b132bb55d1bd31a7.html"  target="element">
				  				<area shape="rect" coords="888,584,1128,694" href="../elements/id-663530f1bc624cdab296ad0b15ee81f5.html"  target="element">
				  				<area shape="rect" coords="1960,584,2200,694" href="../elements/id-a75078349e074bffba3a9b156cee8525.html"  target="element">

				          <area shape="rect" coords="20,524,2228,718" href="../objects/id-779154c1ef95444d98136963233f5d5a.html" target="element" >
				  		<area shape="rect" coords="1948,796,2188,906" href="../elements/id-c7b8f2f641e6482e8ab76122dc0b191d.html"  target="element">
				  		<area shape="rect" coords="1680,794,1920,904" href="../elements/id-c91f8ecaa2b9497f846b8a4f22744575.html"  target="element">
				  		<area shape="rect" coords="1410,788,1650,898" href="../elements/id-6bb255afa1f34efb8e532f9b0ab73a3e.html"  target="element">
				  		<area shape="rect" coords="1146,784,1386,894" href="../elements/id-9fc61e9c68854f9e8658a052892a200e.html"  target="element">
				  		<area shape="rect" coords="864,784,1104,894" href="../elements/id-024092e3e856428e98e72cf8f66d1e39.html"  target="element">
				  		<area shape="rect" coords="582,784,822,894" href="../elements/id-5cc94439d65745dda7095d4702ba1341.html"  target="element">
				  		<area shape="rect" coords="446,352,686,462" href="../elements/id-d946cd6ba43d41549c5cfa79a718a390.html"  target="element">
				  		<area shape="rect" coords="980,20,1220,130" href="../elements/id-3e246956a63d4510a0c11439e0e250a1.html"  target="element">
				  		<area shape="rect" coords="884,366,1124,476" href="../elements/id-e67c5d738e8446f0840dc3165d6a8091.html"  target="element">
				  		<area shape="rect" coords="1412,212,1652,322" href="../elements/id-ac0fe94496094beea7ed0431e4238b8c.html"  target="element">
				  		<area shape="rect" coords="332,176,572,286" href="../elements/id-c548487038ff420b975eb49cb2b439d6.html"  target="element">
				  		<area shape="rect" coords="1100,212,1340,322" href="../elements/id-865241d69dc24f02be986bea897d11dd.html"  target="element">
				  		<area shape="rect" coords="1412,20,1652,130" href="../elements/id-fcbad6e30aa74920ada2b792f33e1c3f.html"  target="element">
				  		<area shape="rect" coords="684,176,924,286" href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html" target="element"> &#26469;&#21319;(&#36182;&#21319;&#65292;&#36182;&#20108;) </a> </td>
											    <td> <a href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcbad6e30aa74920ada2b792f33e1c3f.html" target="element"> &#29579;&#29081;&#20964; </a> </td>
											    <td> <a href="../elements/id-fcbad6e30aa74920ada2b792f33e1c3f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-865241d69dc24f02be986bea897d11dd.html" target="element"> &#26469;&#26106;(&#26106;&#20799;)&#23219;&#22919; </a> </td>
											    <td> <a href="../elements/id-865241d69dc24f02be986bea897d11dd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c548487038ff420b975eb49cb2b439d6.html" target="element"> &#26469;&#21319;&#23219;&#22919; </a> </td>
											    <td> <a href="../elements/id-c548487038ff420b975eb49cb2b439d6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac0fe94496094beea7ed0431e4238b8c.html" target="element"> &#24425;&#26126; </a> </td>
											    <td> <a href="../elements/id-ac0fe94496094beea7ed0431e4238b8c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e67c5d738e8446f0840dc3165d6a8091.html" target="element"> &#26157;&#20799; </a> </td>
											    <td> <a href="../elements/id-e67c5d738e8446f0840dc3165d6a8091.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e246956a63d4510a0c11439e0e250a1.html" target="element"> &#36158;&#29711; </a> </td>
											    <td> <a href="../elements/id-3e246956a63d4510a0c11439e0e250a1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d946cd6ba43d41549c5cfa79a718a390.html" target="element"> &#33394;&#31354; </a> </td>
											    <td> <a href="../elements/id-d946cd6ba43d41549c5cfa79a718a390.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5cc94439d65745dda7095d4702ba1341.html" target="element"> &#29275;&#32487;&#23447;(&#19968;&#31561;&#20271;) </a> </td>
											    <td> <a href="../elements/id-5cc94439d65745dda7095d4702ba1341.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-024092e3e856428e98e72cf8f66d1e39.html" target="element"> &#26611;&#33459; </a> </td>
											    <td> <a href="../elements/id-024092e3e856428e98e72cf8f66d1e39.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9fc61e9c68854f9e8658a052892a200e.html" target="element"> &#38472;&#29790;&#25991; </a> </td>
											    <td> <a href="../elements/id-9fc61e9c68854f9e8658a052892a200e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bb255afa1f34efb8e532f9b0ab73a3e.html" target="element"> &#39532;&#23578; </a> </td>
											    <td> <a href="../elements/id-6bb255afa1f34efb8e532f9b0ab73a3e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c91f8ecaa2b9497f846b8a4f22744575.html" target="element"> &#20399;&#23389;&#24247; </a> </td>
											    <td> <a href="../elements/id-c91f8ecaa2b9497f846b8a4f22744575.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7b8f2f641e6482e8ab76122dc0b191d.html" target="element"> &#30707;&#20809;&#29664; </a> </td>
											    <td> <a href="../elements/id-c7b8f2f641e6482e8ab76122dc0b191d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-779154c1ef95444d98136963233f5d5a.html" target="element"> &#20843;&#20844; </a> </td>
									           <td> <a href="../objects/id-779154c1ef95444d98136963233f5d5a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a75078349e074bffba3a9b156cee8525.html" target="element"> &#32558;&#22269;&#20844; </a> </td>
													    <td> <a href="../elements/id-a75078349e074bffba3a9b156cee8525.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-663530f1bc624cdab296ad0b15ee81f5.html" target="element"> &#29702;&#22269;&#20844;&#26611;&#24426; </a> </td>
													    <td> <a href="../elements/id-663530f1bc624cdab296ad0b15ee81f5.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab1f8c74e9da4cc1b132bb55d1bd31a7.html" target="element"> &#38215;&#22269;&#20844;&#29275;&#28165; </a> </td>
													    <td> <a href="../elements/id-ab1f8c74e9da4cc1b132bb55d1bd31a7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element"> &#23425;&#22269;&#20844; </a> </td>
													    <td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37908ad4fbdd4f068dfaad91bfb58bab.html" target="element"> &#27835;&#22269;&#20844;&#39532;&#39745; </a> </td>
													    <td> <a href="../elements/id-37908ad4fbdd4f068dfaad91bfb58bab.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element"> &#33635;&#22269;&#20844; </a> </td>
													    <td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79365a9fef8940888eb6b9271297edea.html" target="element"> &#40784;&#22269;&#20844;&#38472;&#32764; </a> </td>
													    <td> <a href="../elements/id-79365a9fef8940888eb6b9271297edea.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f2fae5ebbc4f499fb1aa5fc6697c5988.html" target="element"> &#20462;&#22269;&#20844;&#20399;&#26195;&#26126; </a> </td>
													    <td> <a href="../elements/id-f2fae5ebbc4f499fb1aa5fc6697c5988.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-77c0217f6b4c4f08b930ce6ec31d8ce8.html" target="element"> &#21271;&#38745;&#37089;&#29579; </a> </td>
											    <td> <a href="../elements/id-77c0217f6b4c4f08b930ce6ec31d8ce8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b0c508d513314ee884828a80dbfac3ef.html" target="element"> &#19996;&#24179;&#37089;&#29579; </a> </td>
											    <td> <a href="../elements/id-b0c508d513314ee884828a80dbfac3ef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e14d54081ec477c8eff5865720c838c.html" target="element"> &#21335;&#23433;&#37089;&#29579; </a> </td>
											    <td> <a href="../elements/id-6e14d54081ec477c8eff5865720c838c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9ceaa5638ba4e0d8c43395838de9c2c.html" target="element"> &#35199;&#23425;&#37089;&#29579; </a> </td>
											    <td> <a href="../elements/id-d9ceaa5638ba4e0d8c43395838de9c2c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f2ee4d146be6486f993066d7c3b505d8.html" target="element"> &#21335;&#23433;&#37089;&#29579;&#20043;&#23385; </a> </td>
											    <td> <a href="../elements/id-f2ee4d146be6486f993066d7c3b505d8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed4ea2f07c034b98a48046d06f47ab51.html" target="element"> &#35199;&#23433;&#37089;&#29579;&#20043;&#23385; </a> </td>
											    <td> <a href="../elements/id-ed4ea2f07c034b98a48046d06f47ab51.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57ac607bc64542199e049950ff252a30.html" target="element"> &#24544;&#38742;&#20399;&#21490;&#40718; </a> </td>
											    <td> <a href="../elements/id-57ac607bc64542199e049950ff252a30.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aadf097cf695421db6d2f9942c6f647f.html" target="element"> &#24179;&#21407;&#20399; </a> </td>
											    <td> <a href="../elements/id-aadf097cf695421db6d2f9942c6f647f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a706c675c7a4eff90ab02142ef68eab.html" target="element"> &#33931;&#23376;&#23425; </a> </td>
											    <td> <a href="../elements/id-8a706c675c7a4eff90ab02142ef68eab.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81fc5e8030744df2b4974885feee10f9.html" target="element"> &#23450;&#22478;&#20399; </a> </td>
											    <td> <a href="../elements/id-81fc5e8030744df2b4974885feee10f9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f65e3d5d514c4e3883d32bb1ecb7f8ce.html" target="element"> &#35874;&#40120; </a> </td>
											    <td> <a href="../elements/id-f65e3d5d514c4e3883d32bb1ecb7f8ce.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51ff6cd640774211b9280927fab32051.html" target="element"> &#35140;&#38451;&#20399; </a> </td>
											    <td> <a href="../elements/id-51ff6cd640774211b9280927fab32051.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47076e0c2d4949879792b1c2d0f0b26e.html" target="element"> &#25114;&#24314;&#36745; </a> </td>
											    <td> <a href="../elements/id-47076e0c2d4949879792b1c2d0f0b26e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51aa399e8db94c5e82fd57a749dd48cf.html" target="element"> &#26223;&#30000;&#20399; </a> </td>
											    <td> <a href="../elements/id-51aa399e8db94c5e82fd57a749dd48cf.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eeff5b9fb526480dbb70c3edf5b0282d.html" target="element"> &#21496;&#35032;&#33391; </a> </td>
											    <td> <a href="../elements/id-eeff5b9fb526480dbb70c3edf5b0282d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html" target="element"> &#20911;&#32043;&#33521; </a> </td>
											    <td> <a href="../elements/id-75a4178fa3d244a5b6078e7d3a669e04.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-240867b6057f497fa1b03f511d03b90c.html" target="element"> &#38889;&#22855; </a> </td>
											    <td> <a href="../elements/id-240867b6057f497fa1b03f511d03b90c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-499980529647493e91ce0b1806e1237b.html" target="element"> &#38472;&#20063;&#20426; </a> </td>
											    <td> <a href="../elements/id-499980529647493e91ce0b1806e1237b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5daaa5144ea74b53a00d5ead7ad0d723.html" target="element"> &#21355;&#33509;&#20848; </a> </td>
											    <td> <a href="../elements/id-5daaa5144ea74b53a00d5ead7ad0d723.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b9b60d9d079d41c6bca760dc0bf67f97.html" target="element"> &#21271;&#38745;&#29579;&#27700;&#28342; </a> </td>
											    <td> <a href="../elements/id-b9b60d9d079d41c6bca760dc0bf67f97.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a760dd6cd2341d084e39f65aedd5c5e.html" target="element"> &#38081;&#27099;&#23546; </a> </td>
											    <td> <a href="../elements/id-1a760dd6cd2341d084e39f65aedd5c5e.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4d6517c44bab48b8896f4880a7734878.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-4d6517c44bab48b8896f4880a7734878.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4f5a19c73feb407abe1b30648ce27fcc.html" target="element"> &#26469;&#21319;(&#36182;&#21319;&#65292;&#36182;&#20108;) </a> </td>
																		<td> <a href="../elements/id-c548487038ff420b975eb49cb2b439d6.html" target="element"> &#26469;&#21319;&#23219;&#22919; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c851b5fed98340f1bc31584e681c4794.html" target="element"> &#22827;&#22971; </a> </td>
																		<td> <a href="../elements/id-c851b5fed98340f1bc31584e681c4794.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fcbad6e30aa74920ada2b792f33e1c3f.html" target="element"> &#29579;&#29081;&#20964; </a> </td>
																		<td> <a href="../elements/id-3e246956a63d4510a0c11439e0e250a1.html" target="element"> &#36158;&#29711; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b3e49f7239864335867e81c9406b192b.html" target="element"> &#38506;&#25151; </a> </td>
																		<td> <a href="../elements/id-b3e49f7239864335867e81c9406b192b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-865241d69dc24f02be986bea897d11dd.html" target="element"> &#26469;&#26106;(&#26106;&#20799;)&#23219;&#22919; </a> </td>
																		<td> <a href="../elements/id-fcbad6e30aa74920ada2b792f33e1c3f.html" target="element"> &#29579;&#29081;&#20964; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ec41dffb133479fb817c054a4cbd4bd.html" target="element"> &#20011;&#39711; </a> </td>
																		<td> <a href="../elements/id-9ec41dffb133479fb817c054a4cbd4bd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac0fe94496094beea7ed0431e4238b8c.html" target="element"> &#24425;&#26126; </a> </td>
																		<td> <a href="../elements/id-fcbad6e30aa74920ada2b792f33e1c3f.html" target="element"> &#29579;&#29081;&#20964; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-26e94838095a407891d28ac4bfcb5c14.html" target="element"> &#20166;&#20154; </a> </td>
																		<td> <a href="../elements/id-26e94838095a407891d28ac4bfcb5c14.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e67c5d738e8446f0840dc3165d6a8091.html" target="element"> &#26157;&#20799; </a> </td>
																		<td> <a href="../elements/id-3e246956a63d4510a0c11439e0e250a1.html" target="element"> &#36158;&#29711; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da6d02bdd724421480a494a94783846e.html" target="element"> &#20303;&#25345; </a> </td>
																		<td> <a href="../elements/id-da6d02bdd724421480a494a94783846e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d946cd6ba43d41549c5cfa79a718a390.html" target="element"> &#33394;&#31354; </a> </td>
																		<td> <a href="../elements/id-1a760dd6cd2341d084e39f65aedd5c5e.html" target="element"> &#38081;&#27099;&#23546; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-6103f15ec87e47a99a91b4655114f7d0.html" target="element"> &#29239;&#23385; </a> </td>
																				<td> <a href="../elements/id-6103f15ec87e47a99a91b4655114f7d0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a75078349e074bffba3a9b156cee8525.html" target="element"> &#32558;&#22269;&#20844; </a> </td>
																				<td> <a href="../elements/id-c7b8f2f641e6482e8ab76122dc0b191d.html" target="element"> &#30707;&#20809;&#29664; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8dc4d96853364696be247d6ee948fa8f.html" target="element"> &#29239;&#23385; </a> </td>
																				<td> <a href="../elements/id-8dc4d96853364696be247d6ee948fa8f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-663530f1bc624cdab296ad0b15ee81f5.html" target="element"> &#29702;&#22269;&#20844;&#26611;&#24426; </a> </td>
																				<td> <a href="../elements/id-024092e3e856428e98e72cf8f66d1e39.html" target="element"> &#26611;&#33459; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-90e22dcb68544d529ae20bbb3951bd37.html" target="element"> &#29239;&#23385; </a> </td>
																				<td> <a href="../elements/id-90e22dcb68544d529ae20bbb3951bd37.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ab1f8c74e9da4cc1b132bb55d1bd31a7.html" target="element"> &#38215;&#22269;&#20844;&#29275;&#28165; </a> </td>
																				<td> <a href="../elements/id-5cc94439d65745dda7095d4702ba1341.html" target="element"> &#29275;&#32487;&#23447;(&#19968;&#31561;&#20271;) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-69320c180efa4d93970cfd5acc1bf86b.html" target="element"> &#21516;&#32990;&#24351;&#20804; </a> </td>
																				<td> <a href="../elements/id-69320c180efa4d93970cfd5acc1bf86b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-893d556cdcbb46558febb18c4c6fdaf3.html" target="element"> &#23425;&#22269;&#20844; </a> </td>
																				<td> <a href="../elements/id-b619cc8bb3c14a74baf2908d84f46a0f.html" target="element"> &#33635;&#22269;&#20844; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6e7eedae0885420f8ceab88da49eccea.html" target="element"> &#29239;&#23385; </a> </td>
																				<td> <a href="../elements/id-6e7eedae0885420f8ceab88da49eccea.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-37908ad4fbdd4f068dfaad91bfb58bab.html" target="element"> &#27835;&#22269;&#20844;&#39532;&#39745; </a> </td>
																				<td> <a href="../elements/id-6bb255afa1f34efb8e532f9b0ab73a3e.html" target="element"> &#39532;&#23578; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-680e976cf5a5446eabed6e4c139ba8e4.html" target="element"> &#29239;&#23385; </a> </td>
																				<td> <a href="../elements/id-680e976cf5a5446eabed6e4c139ba8e4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-79365a9fef8940888eb6b9271297edea.html" target="element"> &#40784;&#22269;&#20844;&#38472;&#32764; </a> </td>
																				<td> <a href="../elements/id-9fc61e9c68854f9e8658a052892a200e.html" target="element"> &#38472;&#29790;&#25991; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0e3d40b949a4475b92b1b22dc85338c0.html" target="element"> &#29239;&#23385; </a> </td>
																				<td> <a href="../elements/id-0e3d40b949a4475b92b1b22dc85338c0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f2fae5ebbc4f499fb1aa5fc6697c5988.html" target="element"> &#20462;&#22269;&#20844;&#20399;&#26195;&#26126; </a> </td>
																				<td> <a href="../elements/id-c91f8ecaa2b9497f846b8a4f22744575.html" target="element"> &#20399;&#23389;&#24247; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d70a96acd25d4b55842d8937f2212f75.html" target="element"> &#29239;&#23385; </a> </td>
																		<td> <a href="../elements/id-d70a96acd25d4b55842d8937f2212f75.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c0217f6b4c4f08b930ce6ec31d8ce8.html" target="element"> &#21271;&#38745;&#37089;&#29579; </a> </td>
																		<td> <a href="../elements/id-b9b60d9d079d41c6bca760dc0bf67f97.html" target="element"> &#21271;&#38745;&#29579;&#27700;&#28342; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cd04bf0f2bdc405f8bdd6b5d99c1ea33.html" target="element"> &#29239;&#23385;&#8216; </a> </td>
																		<td> <a href="../elements/id-cd04bf0f2bdc405f8bdd6b5d99c1ea33.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e14d54081ec477c8eff5865720c838c.html" target="element"> &#21335;&#23433;&#37089;&#29579; </a> </td>
																		<td> <a href="../elements/id-f2ee4d146be6486f993066d7c3b505d8.html" target="element"> &#21335;&#23433;&#37089;&#29579;&#20043;&#23385; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b07ecae8bac4052af66ac086d607e46.html" target="element"> &#29239;&#23385; </a> </td>
																		<td> <a href="../elements/id-7b07ecae8bac4052af66ac086d607e46.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d9ceaa5638ba4e0d8c43395838de9c2c.html" target="element"> &#35199;&#23425;&#37089;&#29579; </a> </td>
																		<td> <a href="../elements/id-ed4ea2f07c034b98a48046d06f47ab51.html" target="element"> &#35199;&#23433;&#37089;&#29579;&#20043;&#23385; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-810c7e144942459382e2d12311555277.html" target="element"> &#29239;&#23385; </a> </td>
																		<td> <a href="../elements/id-810c7e144942459382e2d12311555277.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aadf097cf695421db6d2f9942c6f647f.html" target="element"> &#24179;&#21407;&#20399; </a> </td>
																		<td> <a href="../elements/id-8a706c675c7a4eff90ab02142ef68eab.html" target="element"> &#33931;&#23376;&#23425; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-92571f61f2534accb90565a78a21a5aa.html" target="element"> &#29239;&#23385; </a> </td>
																		<td> <a href="../elements/id-92571f61f2534accb90565a78a21a5aa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-81fc5e8030744df2b4974885feee10f9.html" target="element"> &#23450;&#22478;&#20399; </a> </td>
																		<td> <a href="../elements/id-f65e3d5d514c4e3883d32bb1ecb7f8ce.html" target="element"> &#35874;&#40120; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dfcd137089d9417a9874662442496976.html" target="element"> &#29239;&#23385; </a> </td>
																		<td> <a href="../elements/id-dfcd137089d9417a9874662442496976.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51ff6cd640774211b9280927fab32051.html" target="element"> &#35140;&#38451;&#20399; </a> </td>
																		<td> <a href="../elements/id-47076e0c2d4949879792b1c2d0f0b26e.html" target="element"> &#25114;&#24314;&#36745; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b84ed20506142f49e451a3b5a5abe2a.html" target="element"> &#29239;&#23385; </a> </td>
																		<td> <a href="../elements/id-5b84ed20506142f49e451a3b5a5abe2a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51aa399e8db94c5e82fd57a749dd48cf.html" target="element"> &#26223;&#30000;&#20399; </a> </td>
																		<td> <a href="../elements/id-eeff5b9fb526480dbb70c3edf5b0282d.html" target="element"> &#21496;&#35032;&#33391; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>